.container {
    display: flex;
    flex-direction: row;
}
.buttonContainer {
    margin-top:auto;
    margin-bottom: auto;
}
.highLight {
    background-color:#7FFFD4;
}
.iconContainer {
    margin-top:auto;
    margin-bottom:auto;
    margin-right:20px
}
.nameContainer {
    margin-top:auto;
    margin-bottom: auto;
    width: 70%
}